<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="oim_newEntities" connectionString="metadata=res://*/Models.oim_newEF.csdl|res://*/Models.oim_newEF.ssdl|res://*/Models.oim_newEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.102.43;initial catalog=oim_new;persist security info=True;user id=sa;password=edi@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EXPORTEntities" connectionString="metadata=res://*/Models.ExportEF.csdl|res://*/Models.ExportEF.ssdl|res://*/Models.ExportEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.101.43;initial catalog=EXPORT;persist security info=True;user id=sa;password=edi@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EXPORT_AIREntities" connectionString="metadata=res://*/Models.ExportAirEF.csdl|res://*/Models.ExportAirEF.ssdl|res://*/Models.ExportAirEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.101.43;initial catalog=EXPORT_AIR;persist security info=True;user id=sa;password=edi@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EXPORT_XBORDEREntities" connectionString="metadata=res://*/Models.ExportXBorderEF.csdl|res://*/Models.ExportXBorderEF.ssdl|res://*/Models.ExportXBorderEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.101.43;initial catalog=EXPORT_XBORDER;persist security info=True;user id=sa;password=edi@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>